<div class="admin-sidebar-content">
  <div class="sidebar-logo">
    <h1>LeveCasa</h1>
  </div>

  <div class="sidebar-nav-list">
    <%= render 'components/v1/aside/real_estate/admin/nav_list' %>
  </div>

  <div class="sidebar-footer">
    <%= render 'components/v1/aside/real_estate/admin/nav_footer' %>
  </div>
</div>