.avatar-user-profile {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: flex-end;
  grid-template-columns: 1fr auto auto;
  column-gap: 15px;
}

.avatar-user-img {
  width: 55px;
  width: 55px;

  img {
    border-radius: 100px;
  }
}

.avatar-user-data {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 4px;

  p {
    color: var(--colorBlack2);
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: auto;
  }

  span {
    color: var(--colorGray3);
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    height: auto;
  }
}

.avatar-settings {
  display: grid;
  cursor: pointer;
  height: auto;

  i {
    font-size: 1.2rem;

    &:hover {
      color: var(--colorPri);
    }
  }
}

@media (max-width: 767px) {
  .avatar-user-profile {
    display: grid;
    grid-template-columns: 1fr;
  }

  .avatar-user-img {
    width: 55px;
    width: 55px;

    img {
      border-radius: 100px;
    }
  }

  .avatar-user-data {
    display: none;

    p {
      color: var(--colorBlack2);
      font-size: 15px;
      font-weight: 500;
      width: 100%;
      height: auto;
    }

    span {
      color: var(--colorGray3);
      font-size: 12px;
      font-weight: 500;
      width: 100%;
      height: auto;
    }
  }

  .avatar-settings {
    display: none;
  }
}
