<%= render(Overview::OverviewComponent.new(title: "My Title")) do |component|  %>
<% component.with_overview_title do %>
<h1>Settings</h1>
<% end %>

<% component.with_overview_description do %>
<p>Application settings.</p>
<% end %>

<% end %>
<br>
<%= link_to root_path, class: "link-with-icon" do %>
<%= render 'shared/icons/city' %>
Type Properte
<% end %>