<div class="card-overview">
  <div class="card-overview-header">
    <div class="card-overview-title"><%= overview_title %></div>
    <div class="card-overview-description"><%= overview_description %></div>
  </div>
</div>