.develop-not {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr;
  padding-top: 50px;
  max-width: 350px;
  height: max-content;

  h3 {
    display: grid;
    text-align: center;
    height: max-content;
    color: brown;
  }

  img {
    max-width: 100%;
    height: auto;
    flex: 1 1 150px;
  }
}
