<div class="avatar-component">
  <div class="avatar-component-img">
    <%# if @user.avatar.attached? %>
    <%#= image_tag @user.avatar.variant(resize_to_limit: [150, 150]) %>
    <%# else %>
    <%= image_tag "default_avatar.JPEG", alt: "Avatar padrão" %>
    <%# end %>
  </div>
  <div class="avatar-user-data">
    <p>Agnelo Souza</p>
    <span>tech.agnelo@gmail.com</span>
  </div>
  <div class="avatar-settings">
    <%= render 'shared/icons/settings' %>
  </div>
</div>
