@font-face {
  font-family: 'Gilroy';
  src: url(asset-path('fonts/gilroy.Aa/Gilroy-SemiBold.ttf')) format('truetype');
  font-style: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 0.06em;
  line-height: 1.3;
  height: 100%;
  width: 100%;
}
