<h1>Dashboard</h1>
<% content_for :aside do %>
<!-- Definindo o conteúdo dinâmico do aside -->
<ul>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">Imóveis</a></li>
  <li><a href="#">Usuários</a></li>
</ul>
<% end %>