.sidebar-content {
  display: grid;
  align-content: flex-start;
  padding-top: 10px;
  height: max-content;
  row-gap: 25px;
}

.sidebar-logo {
  display: grid;
  align-content: center;
  grid-template-columns: auto 1fr;
  column-gap: 14px;

  img {
    width: 23px;
    height: auto;
  }

  h1 {
    display: grid;
    color: var(--colorPri);
    font-size: 23px;
  }
}

.sidebar-nav-list {
  border-bottom: 1px solid var(--colorGray4);
  padding-bottom: 19px;
}

.sidebar-menu-mobile {
  display: none;
}

//.sidebar-footer {}

@media (max-width: 767px) {
  .sidebar-content {
    padding-top: 0;
    grid-template-columns: 1fr auto;
  }

  .sidebar-logo {
    display: none;
  }

  .sidebar-nav-list {
    border-bottom: none;
    padding-bottom: 0;
  }

  .sidebar-menu-mobile {
    display: block;
    width: 100%;

    li a {
      color: var(--colorPri);
    }

    li i {
      color: var(--colorPri);
    }
  }


  .sidebar-footer {
    display: none;
  }
}

@media (max-width: 600px) {
  .sidebar-content .link-analytics {
    display: none !important;
    /* Prioriza o estilo */
  }
}

@media (max-width: 550px) {
  .sidebar-content .link-transaction {
    display: none !important;
    /* Prioriza o estilo */
  }
}

@media (max-width: 450px) {

  .sidebar-content .link-my-listing,
  .sidebar-content .link-customer {
    display: none !important;
    /* Prioriza o estilo */
  }
}
