<div class="navigation-component">
  <nav class="navigation-component-nav">
    <ul>
      <li>
        <% links.each do |link| %>
        <%= link %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>