<div class="admin-sidebar-nav-footer">
  <nav class="sidebar-nav-footer">
    <ul>
      <li><%= link_to v1_real_estate_admin_settings_settings_path, class: "sidebar-link" do %>
        <%= render 'shared/icons/settings' %>
        Settings
        <% end %>

      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/clock' %>
        My Listing
        <% end %>
    </ul>
  </nav>
</div>