.admin-sidebar-nav-list {
  display: grid;

  .sidebar-nav {
    display: grid;

    ul {
      display: grid;
      align-content: flex-start;
      grid-template-columns: 1fr;
      align-items: flex-start;
      gap: 3px;

      li {
        display: grid;
        align-content: center;
        height: 40px;
      }

      a {
        display: grid;
        column-gap: 12px;
        align-content: center;
        align-items: center;
        grid-template-columns: auto 1fr;
        transition: var(--transition);
        color: var(--colorBlack2);
        border-radius: 5px;
        padding: 10px;

        i {
          display: grid;
          align-items: center;
          color: var(--colorBlack2);
          transition: var(--transition);
          font-size: 1.2rem;
        }
      }

      a:hover,
      a:hover i {
        background-color: var(--colorPri);
        color: var(--colorWhite);
      }
    }
  }
}
