.navigation-component {
  display: grid;
  grid-template-columns: 1fr;
  transition: var(--transition);

}

.navigation-component-nav {
  display: grid;
  grid-template-columns: 1fr;

}

.navigation-component-nav ul {
  display: grid;
  grid-template-columns: 1fr;

}

.navigation-component-nav li {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3px;
}

.navigation-component-nav li a {
  display: grid;
  grid-template-columns: auto 1fr;
  transition: var(--transition);
  color: var(--colorWhite);
  border-radius: 5px;
  column-gap: 14px;
  font-size: 15px;
  font-weight: lighter;
  padding: 12px;
}

.navigation-component-nav li i {
  display: grid;
  transition: var(--transition);
  color: var(--colorWhite);
  font-size: 1.2rem;

}

.navigation-component-nav li a:hover {
  background: linear-gradient(135deg, rgba(255, 222, 172, 0.1), #FFDEAC);
}

.navigation-component-nav li a:hover,
.navigation-component-nav li a:hover i {
  color: var(--colorWhite);
}

@media (max-width: 767px) {
  .navigation-component-nav li {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 1px;
  }

  .navigation-component-nav li a {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    border-radius: var(--borderRadiusButton);
    color: var(--colorBlack2);
    font-size: 14px;
    padding: 10px;
    row-gap: 3px;
  }

  .navigation-component-nav li i {
    display: grid;
    justify-items: center;
    color: var(--colorBlack2);
    font-size: 1.3rem;
  }

  .navigation-component-nav li a:hover,
  .navigation-component-nav li a:hover i {
    background-color: var(--colorGray1);
    color: initial;
  }

}
