<div class="sidebar-content">
  <div class="sidebar-logo">
    <%= image_tag "logo_pri", alt: "Logo LeveCasa" %>
    <h1>LeveCasa</h1>
  </div>

  <div class="sidebar-nav-list">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "Dashboard", href: "/", icon: "apps", class_name: "link-dashboard" },
        { name: "Discover", href: "/", icon: "home", class_name: "link-discover"},
        { name: "Messages", href: "/", icon: "comment", class_name: "messages"},
        { name: "My Listing", href: "/", icon: "city", class_name: "link-my-listing" },
        { name: "Customer", href: "/", icon: "customer", class_name: "link-customer" },
        { name: "Analytics", href: "/", icon: "chart_kanban", class_name: "link-analytics"},
        { name: "Transaction", href: "/", icon: "usd_circle", class_name: "link-transaction"}
      ]) %>
    <% end %>
  </div>

  <div class="sidebar-menu-mobile">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "menu", href: "/", icon: "menu" },
      ]) %>
    <% end %>
  </div>

  <div class="sidebar-footer">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "Settings", href: "/", icon: "settings" },
        { name: "Activity Log", href: "/", icon: "clock" },
      ]) %>
    <% end %>
  </div>
</div>
