<div class="admin-sidebar-content">
  <div class="sidebar-logo">
    <h1>LeveCasa</h1>
  </div>

  <div class="sidebar-nav-list">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "Dashboard", href: "/", icon: "apps" },
        { name: "Discover", href: "/", icon: "home" },
        { name: "Messages", href: "/", icon: "comment" },
        { name: "My Listing", href: "/", icon: "city" },
        { name: "Customer", href: "/", icon: "customer" },
        { name: "Analytics", href: "/", icon: "chart_kanban" },
        { name: "Transaction", href: "/", icon: "usd_circle" }
      ]) %>
    <% end %>
  </div>

  <div class="sidebar-footer">
    <%= render(RealEstate::SideBar::NavigationComponent.new) do |component| %>
    <% component.with_links([
        { name: "Settings", href: "/", icon: "settings" },
        { name: "Activity Log", href: "/", icon: "clock" },
      ]) %>
    <% end %>
  </div>
</div>